[SddmGreeterTheme]
Name=Nox
Description=Ecran de connexion Nox OS
Author=Nox OS
Type=sddm-theme
Version=1.0
Theme-Id=nox
Theme-API=2.0
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=5
